.main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.btnWrap button {
    all: unset;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 42px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #6A7FDB;
    width: 600px;
    padding: 2rem;
    align-self: center;
    border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btnWrap {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.btnWrap img {
    width: 25px;
}

.warning {
    color: green;
    font-size: 1.1rem;
    text-align: center;
}

.deleteBtn {
    width: 200px;
    margin: auto;
}

.main input {
    padding: 1.5rem;
    width: 400px;
    border-radius: 18px;
      font-size: 1rem;

}

.asnwerWrap {
    align-self: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.submitAnswerBtn {
    height: 30px;
    height: auto; 
    
}

