.main {
    all: unset;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #6A7FDB;
    color: rgb(10, 17, 17);
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    
}

.wrapper img {
    width: 25px;
    background-color: inherit;
}

.like {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    overflow: hidden;
    cursor: pointer;
}

.titleWrap {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.titleWrap h3 {
    color: rgb(221, 213, 213);
}