.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    
}

.mainItems {
height: 150px;
background-color: violet;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btnWrap {
    display: flex;
    gap: 0.5rem;

}

.btnWrap img {
    width: 20px;
    height: 20px;
}