.main {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: rgb(145, 235, 190);
    padding: 0 2rem;
}


.main nav ul li a {
    
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.main nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}