.main {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: rgb(15, 130, 140);
    padding: 0 2rem;
    color: rgb(255, 253, 253);
}


.main nav ul li a {
    
    text-decoration: none;
    color: rgb(255, 253, 253);
    font-size: 1.1rem;
}

.main nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
   ;
}